aniso8601==3.0.2
boto3==1.12.49
botocore==1.15.49
cachetools==3.0.0
certifi==2019.11.28
chardet==3.0.4
click==6.7
docutils==0.14
fabric==3.2.2
Flask==1.1.4
flask-marshmallow==0.9.0
Flask-RESTful==0.3.10
google-auth==1.6.3
gunicorn==19.10.0
httpproblem==0.2.0
idna==2.8
itsdangerous==0.24
Jinja2==2.10.3
jmespath==0.9.5
kubernetes==11.0.0
MarkupSafe==1.1.1
marshmallow==3.0.0b16
oauthlib==2.1.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
python-dateutil==2.8.2
pytz==2018.4
PyYAML==6.0.1
requests==2.23.0
requests-oauthlib==1.0.0
rsa==4.7.2
s3transfer==0.3.7
urllib3==1.25.11
websocket-client==0.54.0
Werkzeug==0.15.6
