# Constraints updated 8/27/2024
aniso8601==9.0.1
boto3==1.36.2
botocore==1.36.2
cachetools==5.3.3
certifi==2024.2.2
chardet==5.2.0
click==8.1.7
docutils==0.21.2
fabric==3.2.2
Flask==3.0.3
flask-marshmallow==1.2.1
Flask-RESTful==0.3.10
google-auth==2.29.0
gunicorn==22.0.0
httpproblem==0.2.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
# CSM 1.6 moved to Kubernetes 1.24, so use client v24.x to ensure compatibility
kubernetes>=24.2,<24.3
MarkupSafe==2.1.5
marshmallow==3.21.2
oauthlib==3.2.2
pyasn1==0.6.0 # most recent: 1.6.1, pyasn1-modules 0.4.0 requires <0.7.0
pyasn1-modules==0.4.0
python-dateutil==2.8.2
pytest==8.1.1
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
s3transfer==0.11.1
setuptools >= 70.0
urllib3==1.26.18 # most recent 2.2.1, botocore 1.34.114 requires <1.27.0
websocket-client==1.8.0
Werkzeug==3.0.3
