# Only use Cray-procured packages
--index-url https://arti.dev.cray.com:443/artifactory/api/pypi/pypi-remote/simple
-c constraints.txt

# Application requirements for cms-ims
flask
flask-restful
flask_marshmallow
httpproblem
marshmallow
kubernetes
requests
boto3
gunicorn
